// .mission {
//     background-color: $darkColor;
//     padding-bottom: 240px;
//     &__nav {
//         padding: 199px 0px 52px;
//     }
//     &__title {
//         font-family: Rubik;
//         font-weight: 600;
//         font-size: 5.1rem;
//         line-height: 85 / 72 * 100%;
//         margin-bottom: 70px;
//     }
//     &__subtitle {
//         font-weight: 300;
//         font-size: 1.7rem;
//         line-height: 32 / 24 * 100%;
//         max-width: 717px;
//     }
// }
.m-interests {
    &__title {
        margin-bottom: 85px;
    }
    &__items {
        position: relative;
        top: -100px;
    }
    &__post-title {
        font-family: Rubik;
        font-weight: 500;
        font-size: 2rem;
        line-height: 33 / 28 * 100%;
        color: $mainHover;
        margin-bottom: 24px;
    }
    &__item {
        padding: 48px 67px 111px;
    }
    &__img-items {
        display: flex;
        margin: 0px -20px;
    }
    &__img-column {
        flex: 0 1 16.666%;
        padding: 0px 20px;
    }
    &__img-item {
        height: 173px;
        border-radius: 7px;
        box-shadow: 2px 2px 21px 6px #171B2CBF;
    }
}