.footer {
    padding: 130px 0px 151px 0px;
    background-color: $Main-backGround;
    &__rows {
        display: flex;
        justify-content: space-between;
        margin: 0px -10px;
    }
    &__left {
        flex: 0 1 207px;
        padding: 0px 10px;
    }
    &__logo {
        display: block;
        margin-bottom: 28px;
    }
    &__right {
        flex: 0 1 361px;
        padding: 0px 10px;
    }
}


.ft-center {
    display: flex;
    margin: 0px -30px;
    &__row {
        padding: 0px 30px;
    }
    &__sub {
        display: block;
        color: inherit;
    }
}


@media (max-width: $md1) {
    .footer__rows {
        justify-content: space-between;
        padding: 0px 20px;
    }
    .footer__left {
        max-width: 250px;
    }
    .footer__right {
        margin-top: 53px;
        display: flex;
        justify-content: center;
    }
    .post-subtitle {
        max-width: 540px;
    }
    .footer {
        padding: 78px 0px 52px;
    }
}


@media (max-width: $md2) {
    .footer__rows {
        display: block;
    }
    .footer__left {
        margin: 0 auto 38px;
        text-align: center;
        max-width: 250px;
    }
    .ft-center {
        margin: 0px 0px;
        justify-content: space-between;
    }
    .ft-center__row {
        padding: 0px 0px;
    }
    .ft-center__sub {
        font-size: 1.28rem;
    }
}


@media (max-width: $md3) {
    .footer {
        padding: 30px 0px 37px;
    }
    .footer__logo {
        img {
            width: 102px;
            height: 21px;
        }
    }
    .foot-text_md-1 {
        font-size: 0.9rem;
    }
}