.header {
    position: fixed;
    width: 100%;
    top: 0;
    display: block;
    z-index: 1000;
    transition: top 0.3s;
    // background-color: #20212C;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 117px;
    }
    &__logo {
        img {
            max-width: 100%;
        }
    }
    &__background {
        z-index: 10;
    }
    &__logos {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        @media (max-width: 1831px) {
            max-width: 750px;
        }
    }
}
.menu {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 63px;
        z-index: 10;
    }
    &__item:last-child {
        margin-right: 63px;
    }
    &__link {
        display: inline-block;
        color: $mainColor;
        font-family: Rubik;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 21 / 18 * 100%;
        position: relative;
        padding: 0px 10px;
    }
    &__link:after {
        display: block;
        content: "";
        background-color: $mainHover;
        height: 1.5px;
        width: 0%;
        left: 50%;
        position: absolute;
        transition: width .3s ease-in-out;
        transform: translateX(-50%);
        margin-top: 3px;
    }
    &__link:hover:after,
    &__link:focus:after {
        width: 100%;
    }
}