.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 142px;
    }
    &__logo {
        img {
            max-width: 100%;
        }
    }
    &__background {
        z-index: 10;
    }
    &__logos {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        @media (max-width: 1831px) {
            max-width: 750px;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 93px;
        z-index: 10;
    }
    &__item:last-child {
        margin-right: 63px;
    }
    &__link {
        font-family: Rubik;
        font-weight: 300;
        font-size: 1.28rem;
        color: $mainColor;
        transition: color .2s linear;
        z-index: 10;
    }
    &__link:hover {
        color: $mainHover ;
    }
}