.header {
    position: fixed;
    width: 100%;
    top: 0;
    display: block;
    z-index: 1000;
    transition: top 0.3s;
    @media (max-width: $md1) {
        background-color: #20212C;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 117px;
        @media (max-width: $md1) {
            display: block;
            justify-content: flex-start;
        }
    }
    &__logo {
        @media (max-width: $md1) {
            position: relative;
            top: 51px;
            left: 65px;
        }
        img {
            max-width: 100%;
        }
    }
    &__background {
        z-index: 10;
        @media (max-width: $md1) {
          display: none;
        }
    }
    &__logos {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        @media (max-width: 1831px) {
            max-width: 750px;
        }
    }
}


.menu {
    display: flex;
    align-items: center;
    @media (max-width: $md1) {
        display: block;
    }
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 63px;
        z-index: 10;
    }
    &__item:last-child {
        margin-right: 63px;
    }
    &__link {
        display: inline-block;
        color: $mainColor;
        font-family: Rubik;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 21 / 18 * 100%;
        position: relative;
        padding: 0px 10px;
    }
    &__link:after {
        display: block;
        content: "";
        background-color: $mainHover;
        height: 1.5px;
        width: 0%;
        left: 50%;
        position: absolute;
        transition: width .3s ease-in-out;
        transform: translateX(-50%);
        margin-top: 3px;
    }
    &__link:hover:after,
    &__link:focus:after {
        width: 100%;
    }
}


.tell__body {
    display: none;
}


@media (max-width: $md1) {
    .tell__body {
        display: block;
    }
    .tell__list {
        margin: 172px 0px 306px 64px;
        display: block;
    }
    .tell__list:after {
        content: "";
        display: block;
        width: 500px;
        height: 3px;
        margin: 68px 0px 0px 0px;
        background-color: #2B2D3A;
    }
    .tell__list::before {
        content: "";
        display: block;
        width: 500px;
        height: 3px;
        margin: 0px 0px 68px 0px;
        background-color: #2B2D3A;
    }
    .tel__item {
        margin-bottom: 83px;
        margin-left: 0px;
    }
    .tel__item:last-child {
        margin-bottom: 0px;
    }
    .tell__link {
        font-size: 2.1rem;
        font-weight: 400;
        color: #9AA8BA;
    }
    .menu__list{
        margin: 172px 0px 0px 64px;
        display: block;
    }
    .menu__item {
        margin-bottom: 83px;
        margin-left: 0px;
    }
    .menu__item:last-child {
        margin-bottom: 0px;
    }
    .menu__link {
        font-size: 2.1rem;
        font-weight: 400;
        color: $mainColor;
    }
    .header__menu {
        transform: translate(0px, -100%);
        transition: transform 0.8s ease 0s;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        background-color: $backGround-color-3;
    }
    ._active {
        transform: translate(0px, 0%);
    }
}


@media (max-width: $md2) {
    .tell__list::before {
        width: 303px;
    }
    .tell__list:after {
        width: 303px;
    }
}


@media (max-width: $md3) {
    .header__logo {
        left: 27px;
    }
    .menu__list {
        margin: 82px 0px 0px 24px;
    }
    .tell__list {
        margin: 82px 0px 96px 24px;
    }
    .tell__link {
        font-size: 1.2rem;
    }
    .menu__link {
        font-size: 1.2rem;
    }
    .menu__item {
        margin-bottom: 30px;
    }
    .tel__item {
        margin-bottom: 30px;
    }

}


.icon-menu {
    display: none;
    @media (max-width: $md1) {
        display: block;
        position: absolute;
        top: 51px;
        right: 65px;
        width: 30px;
        height: 27px;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0px;
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #fff;
            border-radius: 5px;
            &:first-child {
                top: 0px;
            }
            &:last-child {
                top: auto;
                bottom: 0px;
            }
        }
        &._active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    bottom: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(92% - 1px);
                }
            }
        }
    }
}