.interests {
    padding-top: 107px;
    padding-bottom: 160px;
    background-color: $backGround-color-3;
    &__pos {
        position: relative;
        z-index: 100;
    }
    &__pd {
        background-color: $liteColor;
        padding: 0px 0px 234px;
    }
    &__items {
        display: flex;
        margin: 0px -20px;
    }
    &__column {
        flex: 0 1 33.333%;
        padding: 0px 20px;
        @media (max-width: $md1) {
            margin-bottom: 30px;
        }
    }
    &__item {
        border-radius: 7px;
        box-shadow: 2px 2px 21px 6px #171B2CBF;
        padding: 52px 27px 49px;
        height: 100%;
        background-color: #2B2D3A;
    }
    &__img {
        text-align: center;
        margin-bottom: 94px;
    }
    &__title {
        margin-bottom: 26px;
    }
}


@media (max-width: $md1) {
    .interests__items-2 {
        display: block;
    }
    .interests__item-2 {
        display: flex;
        padding: 41px 84px 44px 49px;
        @media (max-width: $md2) {
            display: block;

        }
    }
    .interests__img-2 {
        margin: 0px 49px 0px 0px;
    }
    .interests__items {
        margin: 0px -10px;
    }
    .interests__column {
        padding: 0px 10px;
    }
}


@media(max-width: $md2) {
    .interests__img-2 {
        text-align: left;
    }
    .interests__img {
        text-align: left;
    }
}
