.intro {
    padding-top: 269px;
    padding-bottom: 260px;
    background-color: #252636;
    &__sub {
        max-width: 720px;
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 32.68 / 24 * 100%;
    }
    &__pd {
        padding-top: 91px;
    }
    &__logo {
        display: flex;
        align-items: center;

        margin-bottom: 26px;
    }
    &__img {
        margin-right: 12px;
        img {
            max-width: 100%;
        }
    }
    &__img:last-child {
        margin-right: 0px;
    }
    &__title {
        font-family: Rubik;
        font-weight: 600;
        font-size: 55px;
        line-height: 65 / 55 * 100%;
        max-width: 609px;

        margin-bottom: 90px;
    }
    &__title-big {
        max-width: 750px;
        font-size: 5.1rem;
        margin: 50px 0px 68px;
    }
}