.marina-articles {
    background-color: #24242F;
    padding: 153px 0px 215px;
    &__title-mb {
        margin-bottom: 120px;
    }
}

@media (max-width: $md3) {
    .marina-articles {
        padding: 57px 0px 62px;
    }
    .marina-articles__title-mb {
        margin-bottom: 49px;
    }
}
