.news {
    padding: 110px 0px;
    &__items {
        display: flex;
        margin: 0px -20px;
    }
    &__items-mb {
        margin-bottom: 50px;
    }
    &__column {
        flex: 0 1 33.333%;
        padding: 0px 20px;
    }
    &__item {
        border-radius: 7px;
        box-shadow: 2px 2px 21px 6px #171B2CBF;
        padding: 0px 27px 79px;
        height: 100%;
        position: relative;
    }
    &__img {
        margin: 0px -26px 33px;
        img {
            max-width: 100%;
        }
    }
    &__date-time {
        display: flex;
        margin-bottom: 20px;
        // justify-content: space-between;
    }
    &__date {
        font-family: Rubik;
        font-weight: 300;
        font-size: 1.142rem;
        line-height: 21 / 16 * 100%;

        background: url(../img/news/Calendar.png) 0px -2px no-repeat;
        padding-left: 35px;
        margin-right: 30px;
    }
    &__time {
        font-family: Rubik;
        font-weight: 300;
        font-size: 1.142rem;
        line-height: 19 / 16 * 100%;
        padding-left: 35px;

        background: url(../img/news/Clock.png) 0px -2px no-repeat;
    }
    &__item-title {
        margin-bottom: 39px;
    }
    &__item-subtitle {
        margin-bottom: 86px;
    }
    &__sub-last {
        margin-bottom: 11px;
    }
    &__arrow {
        position: absolute;
        bottom: 27px;
        right: 27px;
    }
}