.projects {
    padding-bottom: 110px;
    background-color: $Main-backGround;
    &__items {
        display: flex;
        margin: 0px -20px 0px;
        position: relative;
        z-index: 100;
        @media (max-width: $md2) {
            display: block;
        }
    }
    &__items:last-child {
        display: flex;
        margin: 0px -20px 0px;
    }
    &__column {
        flex: 0 1 33.333%;
        padding: 0px 20px;
        margin-bottom: 42px;
    }
    &__logo {
        margin-bottom: 8px;
    }
    &__title {
        margin-bottom: 7px;
    }
    &__item-one {
        background: url(../img/projects/One.jpg) no-repeat center / cover;
        height: 378px;
        height: 100%;
        padding: 211px 64px 29px 29px;
        border-radius: 5px;
    }
    &__item-two {
        background: url(../img/projects/Two.jpg) no-repeat center / cover;
        height: 378px;
        height: 100%;
        padding: 211px 64px 29px 29px;
        border-radius: 5px;
    }
    &__item-three {
        background: url(../img/projects/Three.jpg) no-repeat center / cover;
        height: 378px;
        height: 100%;
        padding: 211px 64px 29px 29px;
        border-radius: 5px;
    }
    &__item-four {
        background: url(../img/projects/Four.jpg) no-repeat center / cover;
        height: 378px;
        height: 100%;
        padding: 211px 64px 29px 29px;
        border-radius: 5px;
    }
    &__item-five {
        background: url(../img/projects/Five.jpg) no-repeat center / cover;
        height: 378px;
        height: 100%;
        padding: 211px 64px 29px 29px;
        border-radius: 5px;
    }
    &__item-six {
        background: url(../img/projects/Six.jpg) no-repeat center / cover;
        height: 378px;
        height: 100%;
        padding: 211px 64px 29px 29px;
        border-radius: 5px;
    }
    &-items-mb1:last-child {
        margin-bottom: 424px;
    }
}


@media (max-width: $md1) {
    .projects__column {
        flex: 0 1 50%;
    }
}