.project {
    background-color: $darkColor;
    padding-bottom: 192px;
    &__title-mb {
        margin-bottom: 42px;
    }
    &__title-mb2 {
        margin: 192px 0px 123px;
    }
    &__subtitle {
        max-width: 244px;
    }
    &__subtitle {
        margin-bottom: 104px;
    }
    &__subtitle-subtitle {
        margin-bottom: 61px;
    }
    &__list {
        margin-bottom: 61px;
    }
    &__img-one {
        background-color: #C4D2E3;
        max-width: 100%;
        height: 419px;
        margin-bottom: 31px;
    }
    &__imgs {
        display: flex;
        margin: 0px -10px;
    }
    &__img {
        padding: 0px 10px;
        margin-bottom: 95px;
    }
    &__img-item {
        background-color: #C4D2E3;
    }
    &__item {
        list-style: inside;
    }
    &__mb {
        margin-bottom: 95px;
    }
}
.flex-50 {
    flex: 0 1 50%;
}
.flex-33 {
    flex: 0 1 33%;
    height: 253px;
    @media (max-width: $md2) {
        flex: 0 1 50%;
    }
}
.img-h419 {
    height: 419px;
}
.img-h253 {
    height: 253px;
}
.img-h848 {
    height: 848px;
}

@media (max-width: $md1) {
    .projects__items {
        margin: 0px -12px 0px;
    }
    .projects__column {
        padding: 0px 12px;
    }
    .project__img-one {
        height: 206px;
        max-height: 100%;
    }
    .img-h419 {
        height: 206px;
        max-height: 100%;
    }
    .img-h848 {
        height: 520px;
        max-height: 100%;
    }
    .services {
        padding-bottom: 94px;
    }
}

@media (max-width: $md2) {
    .projects__items {
        display: block;
    }
    .projects__items:last-child {
        display: block;
    }
}

@media (max-width: $md3) {
    .project__title-mb {
        margin-bottom: 21px;
    }
    .project__subtitle {
        margin-bottom: 28px;
    }
    .services__title {
        margin-bottom: 21px;
    }
    .project__subtitle-subtitle {
        font-size: 0.9rem;
        margin-bottom: 17px;
    }
    .project__img-one {
        height: 106px;
    }
    .img-h419 {
        height: 107px;
    }
    .project__img {
        margin-bottom: 54px;
    }
    .project__item {
        font-size: 0.9rem;
    }
    .img-h253 {
        height: 107px;
    }
    .flex-33 {
        height: 107px;
        margin-bottom: 35px;
    }
    .project__mb {
        margin-bottom: 27px;
    }
    .img-h848 {
        height: 205px;
    }
}