.project {
    background-color: $darkColor;
    padding-bottom: 192px;
    &__title-mb {
        margin-bottom: 42px;
    }
    &__title-mb2 {
        margin: 192px 0px 123px;
    }
    &__subtitle {
        max-width: 244px;
    }
    &__subtitle {
        margin-bottom: 104px;
    }
    &__subtitle-subtitle {
        margin-bottom: 61px;
    }
    &__list {
        margin-bottom: 61px;
    }
    &__img-one {
        background-color: #C4D2E3;
        max-width: 100%;
        height: 419px;
        margin-bottom: 31px;
    }
    &__imgs {
        display: flex;
        margin: 0px -10px;
    }
    &__img {
        padding: 0px 10px;
        margin-bottom: 95px;
    }
    &__img-item {
        background-color: #C4D2E3;
    }
    &__item {
        list-style: inside;
    }
    &__mb {
        margin-bottom: 95px;
    }
}
.flex-50 {
    flex: 0 1 50%;
}
.flex-33 {
    flex: 0 1 33%;
    height: 253px;
}
.img-h419 {
    height: 419px;
}
.img-h253 {
    height: 253px;
}
.img-h848 {
    height: 848px;
}

@media (max-width: $md1) {
    .projects__items {
        margin: 0px -12px 0px;
    }
    .projects__column {
        padding: 0px 12px;
    }
}