.services {
    padding: 110px 0px 110px 0px;
    background-color: $Main-backGround;
    &-color {
        background-color: $backGround-color-3;
    }
    &__project {
        margin: 0px 0px 424px;
    }
    &__title-mb {
        margin-bottom: 78px;
    }
    &-service {
        padding-bottom: 179px;
    }
    &__item {
        position: relative;
        border-radius: 7px;
        box-shadow: 2px 2px 21px 6px #171B2CBF;
        padding: 51px 56px;
        height: 100%;
    }
    &__hover {
        transition: all .2s linear;
    }
    &__hover:hover {
        padding: 51px 56px 51px 45px;
    }
    &__items {
        display: flex;
        @media (max-width: $md2) {
            display: block;
        }
    }
    &__column {
        flex: 0 1 50%;
        padding: 0px 30px;
        position: relative;
        margin-bottom: 50px;
        @media (max-width: $md1) {
            padding: 0px 12px;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 38px;
    }
    &__img {
        margin-right: 24px;
        img {
            max-width: 100%;
            @media (max-width: $md1) {
                max-width: 45px;
            }
        }
    }
    &__item-title {
        font-family: Rubik;
        font-weight: 500;
        font-size: 2rem;
        line-height: 30 / 26 * 100%;
        max-width: 232px;
    }
    &__strip {
        margin-bottom: 33px;
    }
    &__item-subtitle {
        font-family: Open Sans;
        font-weight: 400;
        line-height: 22 / 14 * 100%;

        margin-bottom: 31px;
    }
    &__link {
        background: url(../img/services/img-mini.png) 0px 7px no-repeat;
        font-weight: 600;
        font-size: 15px;
        line-height: 22 / 15 * 100%;
        color: $mainColor;
        display: block;

        padding-left: 20px;
        margin-bottom: 23px;
    }
    &__arrow {
        display: flex;
        justify-content: flex-end;
    }
    // services html //
    &__items-items {
        display: flex;
        margin: 0px -30px;


    }
    &__img-img {
        position: absolute;
        top: -12px;
        right: 29px;
    }
    &__items-items:last-child {
        margin-bottom: 0px;
    }
    &__title {
        font-family: Rubik;
        font-weight: 500;
        font-size: 2rem;
        color: #fff;
        margin-bottom: 78px;
        line-height: 45 / 38 * 100%;
    }
    &__mb {
        margin-bottom: 138px;
     }
    &__mb2 {
        margin: 36px 0px 53px;
    }
    &__mb3:last-child {
        margin-bottom: 261px;
    }
    &__nav {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 80px;
        position: relative;
        z-index: 100;
    }
    &__nav-item {
        display: block;
        padding: 10px 29px;
        box-shadow: 2px 2px 21px 6px #171B2CBF;
        height: 100%;
    }
    &-width {
        max-width: 100%;
    }
    &_p {
       color: $mainHover;
       font-size: 2.5rem;
       font-weight: 600;
    }
    &__width {
        flex: 0 1 auto;
        margin-top: 169px;
    }
    &__fz {
        font-size: 1.1rem;
        margin-bottom: 71px;
    }
    &__padding {
        padding: 108px 126px 90px 86px;
    }
    &__c2 {
        @media (max-width: $md1) {
            padding: 0px 12px;
        }
    }
}

.lists-services {
    display: flex;
    margin: 0px -10px;
    @media (max-width: $md1) {
        display: block;
    }
    &__lists {
        flex: 0 1 50%;
        padding: 0px 10px;
    }
    &__title {
        font-weight: 600;
        font-size: 15px;
        color: #2D76F9;

        margin-bottom: 23px;
    }
}

@media (max-width: $md1) {
    .services__item {
        padding: 72px 32px;
    }
    .services__img {
        margin-right: 5px;
    }
    .services__project {
        margin-bottom: 138px;
    }
    .services {
        padding-bottom: 0px;
    }
    .services__items-items {
        margin: 0px -12px;
    }
}

@media (max-width: $md2) {
    .services__nav {
        flex-wrap: wrap;
    }
    .btn-filter {
        margin-bottom: 17px;
    }
    .services__items-items {
        margin: -17px -12px 0px;
        display: block;
    }
}

