.team {
    padding: 160px 0px 121px;
    background-color: $darkColor;
    &__title-mb {
        margin-bottom: 57px;
    }
    &__subtitle {
        font-family: Rubik;
        font-size: 2rem;
        font-weight: 400;
        line-height: 33 / 28 * 100%;
        color: #2D76F9;
        margin-bottom: 90px;
    }
    &__items {
        display: flex;
        margin: 0px -15px;
    }
    &__items-mb {
        margin-bottom: 121px;
    }
    &__items-title {
        font-family: Rubik;
        font-weight: 500;
        font-size: 2.85rem;
        line-height: 47 / 40 * 100%;
        margin-bottom: 41px;
    }
    &__items-title::after {
        content: "";
        display: block;

        width: 44px;
        height: 3px;
        background-color: #ffffff;
        margin: 22px 0px 0px;
    }
    &__items-subtitle {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 33 / 24 * 100%;
    }
    &__column {
        padding: 0px 15px;
    }
    &__column-50 {
        flex: 0 1 50%;
    }
    &__item-blue {
        position: relative;
        background-color: #2D76F9;
        height: 820px;
        transition: all .2s linear;
    }
    &__img-big {
        position: absolute;
        bottom: 0;
        right: 36px;
        z-index: 10;
    }
    &__img-font-girl{
        position: absolute;
        z-index: 1;
        bottom: 99px;
        left: 88px;
    }
    &__blog {
        padding: 74px 0px 0px 46px;
    }
    &__img-big-man {
        position: absolute;
        bottom: 0;
        right: 2px;
        z-index: 10;
    }
    &__img-font-man {
        position: absolute;
        z-index: 1;
        bottom: 162px;
        left: 151px;
    }
    &__column-33 {
        flex: 0 1 33.333%;
    }
    &__item-gray {
        position: relative;
        background-color: #C4D2E3;
        height: 630px;
    }
    &__blog-gray {
        padding: 45px 0px 0px 39px;
    }
    &__items-title-b-g {
        font-family: Rubik;
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 36 / 30 * 100%;
        margin-bottom: 29px;
    }
    &__items-subtitle-b-g {
        font-family: Open Sans;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 24 / 18 * 100%;
    }
    &__items-title-b-g::after {
        content: "";
        display: block;

        width: 44px;
        height: 3px;
        background-color: #ffffff;
        margin: 15px 0px 0px;
    }
    &__img-gray-girl-one {
        position: absolute;
        bottom: 0;
        right: 2px;
        z-index: 10;
    }
    &__img-gray-font {
        position: absolute;
        z-index: 1;
        bottom: 59px;
        left: 34px;
    }
}

@media (max-width: 1200px) {
    .team__img-big {
        height: 600px;
    }
    .team__img-font-girl {
        max-width: 400px;
    }
    .team__img-big-man {
        height: 600px;
    }
    .team__img-font-man {
        max-width: 300px;
    }
}

@media (max-width: $md1) {
    .team__img-big {
        max-width: 220px;
    }
}