.tell-my {
    background-color: $backGround-color-3;
    padding: 12.5px 0px 177px;
    @media (max-width: $md1) {
        .tell-my__container {
            max-width: 596px;
        }
    }
    &__sub {
        margin-top: 30px;
        max-width: 455px;
    }
    &__items {
        display: flex;
        margin: 0px -40px;
    }
    &__row-left {
        flex: 0 1 50%;
        padding: 0px 40px;
    }
    &__img {
        margin-bottom: 14px;
        img {
            max-width: 100%;
        }
    }
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        display: flex;
        flex: 0 1 320px;
        margin-left: 40px;
        align-items: center;
    }
}

.form {
    flex: 0 1 50%;
    padding: 0px 40px;
    &__item {
        margin-bottom: 32px;
    }
    &__group-paper {
        position: absolute;
    }
    &__items {
        display: flex;
        min-height: 57px;
    }
    &__input {
        color: $mainColor;
        background-color: $backGround-color-3;
        display: block;
        width: 100%;
        padding: 17px 18px;
        font-family: inherit;
        font-size: 1rem;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    &__input:focus {
        box-shadow: 0 0 15px greenyellow;
    }
    &__input._error {
        border: 1px solid red;
        box-shadow: 0 0 15px red;
    }
    &__textarea {
        background: url(../img/tell-my/Paperclip.png) 535px 50px no-repeat;
        height: 92px;
        color: $mainColor;
        background-color: inherit;
        display: block;
        width: 100%;
        padding: 17px 18px;
        font-family: inherit;
        font-size: 1rem;
        border: 1px solid #fff;
        border-radius: 5px;
        resize: none;
    }
    &__textarea:focus {
        box-shadow: 0 0 15px greenyellow;
    }
    &__textarea._error {
        border: 1px solid red;
        box-shadow: 0 0 15px red;
    }
}

textarea{
	overflow: auto;
	overflow-x: hidden;
}

textarea::-webkit-scrollbar-track{
	background-color: #EEF3FF;
}

textarea::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

textarea::-webkit-scrollbar-thumb{
	border-radius: 100px;
	background-color: #9AA8BA;
}


@media (max-width: $md1) {
    .tell-my {
        padding: 114px 0px 144px 0px;
    }
    .tell-my__items {
        display: block;
        max-width: 596px;
    }
    .tell-my__row-left {
        padding: 0px 0px;
    }
}
