@font-face{
	font-family: FontsFree;
	font-display: swap;
	src: url("../fonts/FontsFree-Net-SFProText-Medium.woff2") format("woff2"), url("../fonts/FontsFree-Net-SFProText-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
