$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1258px;
$md1: 991.98px;
$md2: 767.98px;
$md3: 479.98px;

$mainColor: #EEF3FF;
$mainHover: #2D76F9;

@import "fonts";
@import "_nullstyle.scss";
@import "_header.scss";
@import "_intro.scss";
@import "_services.scss";
@import "_projects.scss";

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Open Sans, Rubik, Fira Sans Condensed, SF Pro Text, Inter, Lato;
    font-size: 14px;
    color: $mainColor;
    background-color: #2B2D3A;
}

/* ----------------*/
.wrapper {
    overflow: hidden;
    min-height: 100%;
}

/* ----------------*/
[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}
/* ----------------*/
.btn {
    font-weight: 300;
    font-size: 0.92rem;

    display: inline-block;
    padding: 20px 48px;
    color: #fff;
    background-color: #2D76F9;
    transition: background-color .2s linear;
    border-radius: 35px;
    text-transform: uppercase;
}
.btn:hover {
    background-color: #153a7d;
}
.strip {
    content: "";
    display: block;
    max-width: 100%;
    height: 2px;
    background-color: #2D76F9;
}
.title-body {
    font-family: Rubik;
    font-weight: 500;
    font-size: 2.7rem;
    color: #EFF3FF;
}
